DJANGO_DEBUG=0
DJANGO_SECRET_KEY=replace-with-generated-secret-key
DJANGO_ALLOWED_HOSTS=safabackend21.pythonanywhere.com
DJANGO_USE_SQLITE=1
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_SESSION_COOKIE_SECURE=1
DJANGO_CSRF_COOKIE_SECURE=1

DATABASE_URL=
DB_CONN_MAX_AGE=60

CHANNEL_BACKEND=memory
REDIS_URL=

CHATFLOW_BASE_URL=https://lk.chatflow.kz
CHATFLOW_TOKEN=
CHATFLOW_INSTANCE_ID=
OTP_TTL_SECONDS=300
STATIC_OTP=996555555555:1111

YANDEX_API_KEY=
FCM_PROJECT_ID=
FCM_SERVICE_ACCOUNT_FILE=
PLATFORM_COMMISSION_PCT=0.10

FINIK_CURRENCY=KGS
FINIK_CALLBACK_URL=https://safabackend21.pythonanywhere.com/api/payments/finik/callback/
